<form>
  <h1>Input your Quote Here</h1>
  <div class="form-group">
    <label for="exampleInputName">Enter your Name here</label>
    <input type="name" class="form-control" id="exampleInputEmail1" aria-describedby="nameHelp" placeholder="Enter name">
    <small id="emailName" class="form-text text-muted">please enter your name.</small>
  </div>
  <div class="form-group">
    <label for="exampleQuoteTitle">Enter Quote Title</label>
    <input type="title" class="form-control" id="exampleQuoteTitle" aria-describedby="emailHelp" placeholder="Enter title">
    <small id="emailTitle" class="form-text text-muted">please enter quote title.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Enter Quote</label>
    <input type="quote" class="form-control" id="exampleQuote" aria-describedby="emailHelp" placeholder="Enter quote">
    <small id="emailQuote" class="form-text text-muted">Please enter your quote</small>
  </div>
  <div class="form-group">
    <label for="exampleAuthor">Enter Author</label>
    <input type="author" class="form-control" id="exampleAuthor" aria-describedby="authorHelp" placeholder="Enter Author">
    <small id="authorHelp" class="form-text text-muted">Please enter Author name</small>
  </div>
    <button type="submit" class="btn btn-primary">Submit Quote</button>
</form>
