<div class="overlay">
<h1 style="text-align:center">Welcome to My Quote Hub</h1>
<h3 style="text-align:center">Share, View and Rate Quotes</h3>
<div class="container-fluid">
  <div class="row">
  <div class="col-sm-3">
    <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
    </div>
    <div class="col-sm-6">
       <div class="all-cards">
    <div *ngFor='let quote of quotes; let i= index;'>
          <app-quote-info *ngIf='quotes.moreDetails' [quote]='quote' (toDelete) = 'deleteQuote($event,i)'></app-quote-info>
      <div class="card">
      <p>{{quote.name}}<p>
      <p>{{quote.title}}<p>
      <p>{{quote.description}}<p>
      <p>{{quote.author}}<p>
      <p appStrikethrough> posted on {{quote.completeDate|date}}</p>
     <button (click)= 'deleteQuote(true)' class="btn btn-outline-danger">Delete</button>
          </div>
       </div>
       </div>
  </div>
  </div>
